.features {
    padding: 20px 0 0;

    &__header {
        text-align: center;

        &-newsman {
            display: block;
            margin: 0 auto 20px;
        }

        &-title {
            font-size: 36px;
            margin: 0 auto 20px;
            max-width: 550px;
            font-weight: 400;
            color: #14445f;
        }
    }
}
