.features {
    padding-top: rem(30);
    margin-bottom: rem(30);
    @include anhor;
    @include anhor--large;
    @include unvisible;

    &__header {
        text-align: center;
        margin-bottom: rem(60);

        &-newsman {
            display: block;
            max-width: 18rem;
            margin: 0 auto rem(20);
        }

        &-caption {
            font-size: rem(36);
            margin: 0 auto;
            max-width: rem(550);
            color: #14445f;
        }
    }

    &__clients {
        position: relative;
        z-index: 100;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

            li {
                width: (100%/6);

                img {
                    display: block;
                    margin: 0 auto;
                    padding: 0 15%;
                    box-sizing: border-box;
                }
            }
        }
    }

    &__list {
        padding: rem(100) rem(10) rem(40);
        background: #fff;
        box-shadow: rem(1) rem(2) 0 #dbdcdd;
        position: relative;
        z-index: 90;
        display: flex;
        flex-wrap: wrap;

        @include media(M) {
            padding-left: rem(20);
            padding-right: rem(20);
        }

        &-bg {
            position: absolute;
            top: rem(2);
            left: 50%;
            width: 100%;
            transform: translate3d(-50%,-100%,0);
        }

        &-item {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: rem(20);

            @include media(M) {
                width: (100%/2);
                flex-direction: row;
            }

            &.is-large {
                width: 100%;
            }

            figure {
                margin: 0;
                padding: 0 rem(10);
                box-sizing: border-box;
                width: 100%;

                @include media(M) {
                    width: auto;
                }

                img {
                    display: block;
                    margin: rem(10) auto;
                    max-width: 50%;

                    @include media(M) {
                        max-width: inherit;
                        width: rem(100);
                    }

                    @include media(L) {
                        width: rem(190);
                    }
                }
            }

            figcaption {
                list-style: none;
                margin: 0;
                padding: 0 rem(10);
                box-sizing: border-box;
                width: 100%;
                text-align: center;

                @include media(M) {
                    text-align: left;
                    width: auto;
                }

                h3 {
                    font-size: rem(33);
                    color: #ff6700;
                    margin-bottom: rem(20);
                }

                p {
                    font-size: rem(20);
                    margin-bottom: rem(20);
                }
            }
        }
    }
}
