.features {
    padding-top: 20px;
    margin-bottom: 30px;
    @include anhor;

    &__header {
        text-align: center;
        margin-bottom: 60px;

        &-newsman {
            display: block;
            margin: 0 auto 20px;
        }

        &-caption {
            font-size: 36px;
            margin: 0 auto;
            max-width: 550px;
            color: #14445f;
        }
    }

    &__clients {
        position: relative;
        z-index: 100;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

            li {
                width: (100%/6);

                img {
                    display: block;
                    margin: 0 auto;
                    padding: 0 15%;
                    box-sizing: border-box;

                    @include media(L) {
                        padding: 0;
                    }
                }
            }
        }
    }

    &__list {
        padding: 100px 10px 40px;
        background: #fff;
        box-shadow: 1px 2px 0 #dbdcdd;
        position: relative;
        z-index: 90;
        display: flex;
        flex-wrap: wrap;

        @include media(M) {
            padding-left: 20px;
            padding-right: 20px;
        }

        &-bg {
            position: absolute;
            top: 2px;
            left: 50%;
            width: 100%;
            max-width: 1165px;
            transform: translate3d(-50%,-100%,0);
        }

        &-item {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 20px;

            @include media(M) {
                width: (100%/2);
                flex-direction: row;
            }

            &.is-large {
                width: 100%;
            }

            figure {
                margin: 0;
                padding: 0 10px;
                box-sizing: border-box;
                width: 100%;

                @include media(M) {
                    width: auto;
                }

                img {
                    display: block;
                    margin: 10px auto;
                    max-width: 50%;

                    @include media(M) {
                        max-width: inherit;
                        width: 100px;
                    }

                    @include media(L) {
                        width: 190px;
                    }
                }
            }

            figcaption {
                list-style: none;
                margin: 0;
                padding: 0 10px;
                box-sizing: border-box;
                width: 100%;
                text-align: center;

                @include media(M) {
                    text-align: left;
                    width: auto;
                }

                h3 {
                    font-size: 33px;
                    color: #ff6700;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
