.moreinfo {
    padding: 50px 0 0;
    @include unvisible;

    &__caption {
        @include title;
        text-align: center;
        position: relative;
        z-index: 100;
        margin-bottom: 70px;

        @include media(M) {
            margin-bottom: 130px;
        }
    }

    &__content {
        background-color: #fff;
        padding: 0 20px 80px;
        box-shadow: 1px 2px 0px #d9dbdc;
        position: relative;
        z-index: 90;

        @include media(M) {
            padding: 0 80px 80px;
            margin-bottom: 60px;
        }

        &-bg {
            position: absolute;
            top: 2px;
            left: 50%;
            transform: translate3d(-50%,-100%,0);
            width: 100%;
            max-width: 1165px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding-top: 20px;

        @include media(M) {
            flex-direction: row;
            padding-top: 40px;
        }

        p {
            font-size: 24px;
            margin: 0 0 20px;
        }

        span {
            color: #ff6700;
        }
    }

    figure {
        max-width: 50%;
        padding-bottom: 20px;
        text-align: center;

        @include media(M) {
            max-width: inherit;
            width: calc(30% - 80px);
            display: block;
            // padding: 0 40px;
            // box-sizing: border-box;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__text {
        width: 100%;

        @include media(M) {
            width: 70%;
        }
    }

    &__example {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include media(M) {
            margin-top: 50px;
            flex-direction: row;
            align-items: flex-start;
        }

        &--justify {
            justify-content: space-around;
        }


        &-img {
            width: 100%;
            margin-top: 10px;

            @include media(M) {
                width: 50%;
                padding: 0 10px 0 0;
            }

            @include media(XL) {
                width: auto;
            }
        }
    }

    &__list {
        margin-bottom: 60px;

        &-item {
            display: flex;
            flex-wrap: wrap;
            margin-top: 25px;

            @include media(M) {
                margin-top: 55px;
            }

            h2 {
                @include title;
                @include title--dotted;
                margin-bottom: 60px;
            }

            p {
                margin: 0 0 20px;
                font-size: 19px;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media(M) {
                flex-direction: row;
                align-items: flex-start;
            }
        }
    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
    }

    &__btn {
        @include btn;
    }
}
