@mixin anhor {
    position: relative;
    margin-top: rem(-80);

    &:before {
        content: '';
        position: relative;
        width: 100%;
        height: rem(80);
        display: block;
    }

    @include media(M) {
        margin-top: 0;

        &:before {
            height: 0;
        }
    }
}
