@mixin anhor {
    position: relative;
    margin-top: -80px;

    &:before {
        content: '';
        position: relative;
        width: 100%;
        height: 80px;
        display: block;
    }

    @include media(M) {
        margin-top: 0;

        &:before {
            height: 0;
        }
    }
}
