@mixin btn {
    outline: none;
    font-family: 'LatoRegular', sans-serif;
    text-align: center;
    background: #425da8;
    color: #96b7ff;
    text-transform: uppercase;
    border-style: solid;
    border-color: #2f468f;
    //size
    border-width: 0 rem(2) rem(2) 0;
    font-size: rem(20);
    padding: rem(11) rem(20);
    border-radius: rem(4);

    @include media(M) {
        //size
        border-width: 0 rem(3) rem(3) 0;
        font-size: rem(26);
        padding: rem(13) rem(34);
        border-radius: rem(6);
    }

    &:hover {
    }

    &:active {
    }
}

@mixin btn--large {
    //size
    border-width: 0 rem(3) rem(3) 0;
    font-size: rem(24);
    padding: rem(13) rem(20);
    border-radius: rem(6);

    @include media(M) {
        //size
        border-width: 0 rem(4) rem(4) 0;
        font-size: rem(33);
        padding: rem(25) rem(44);
        border-radius: rem(10);
    }
}
