@mixin title {
    color: #ff6700;
    font-size: 32px;

    @include media(M) {
        font-size: 55px;
    }
}

@mixin title--dotted {
    position: relative;
    margin-bottom: 20px;

    @include media(M) {
        margin-bottom: 60px;

        &:after {
            bottom: 16px;
        }
    }

    &:after {
        content: '';
        position: absolute;
        // left: 102%;
        bottom: 6px;
        width: 113px;
        height: 4px;
        background: url(../img/content/dots-line.png) no-repeat;

        @include media(M) {
            bottom: 11px;
        }
    }
}
