@mixin title {
    color: #ff6700;
    font-size: rem(30);

    @include media(M) {
        font-size: rem(55);
    }
}

@mixin title--dotted {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: rem(6);
        width: rem(52);
        height: rem(4);
        background: url(../img/backgrounds/dots-line.png) no-repeat;

        @include media(M) {
            width: rem(113);
            bottom: rem(11);
        }
    }
}
