.form {
    font-family: 'LatoRegular', sans-serif;
    background: #96b7ff;
    padding: 80px 42px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 2px 3px 1px #b4b6b8;

    &__row {
        margin-bottom: 24px;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    label {
        cursor: pointer;
        color: #fff;
        font-size: 33px;
        text-align: left;
        display: block;
        margin-bottom: 6px;
    }

    input[type=name],
    input[type=email],
    input[type=text] {
        color: #50545a;
        width: 100%;
        box-sizing: border-box;
        font-size: 33px;
        text-align: left;
        box-shadow: inset 2px 3px 1px #b6b8ba;
        border: none;
        padding: 8px 16px;
        box-sizing: border-box;

        &:focus {
            outline: none;
        }
    }

    &__submit {
        @include btn;
        @include btn--large;
        margin-top: 34px;
    }
}
