.form {
    font-family: 'LatoRegular', sans-serif;
    background: #96b7ff;
    padding: rem(60) rem(20) rem(30);
    border-radius: rem(10);
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: rem(2) rem(3) rem(1) #b4b6b8;

    @include media(M) {
        padding: rem(80) rem(42) rem(40);
    }

    &__row {
        margin-bottom: rem(24);
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }
    }

    label {
        cursor: pointer;
        color: #fff;
        font-size: rem(26);
        text-align: left;
        display: block;
        margin-bottom: rem(6);

        @include media(M) {
            font-size: rem(33);
        }
    }

    input[type=name],
    input[type=email],
    input[type=text] {
        color: #50545a;
        width: 100%;
        box-sizing: border-box;
        font-size: rem(33);
        text-align: left;
        box-shadow: inset rem(2) rem(3) rem(1) #b6b8ba;
        border: none;
        padding: rem(8) rem(16) rem(8) rem(42);
        box-sizing: border-box;

        &:focus {
            outline: none;
        }
    }

    &__submit {
        @include btn;
        @include btn--large;
        margin-top: rem(34);
    }
}
