.how {
    display: flex;
    flex-direction: column;
    margin: 0 auto 100px;
    position: relative;

    @include media(M) {
        align-items: center;
    }

    &__caption {
        @include title;
        @include title--dotted;
        width: 100%;
        margin-bottom: 60px;
    }

    p {
        font-size: 21px;
        font-family: 'EngineRegular', sans-serif;
        position: relative;
        text-transform: uppercase;
        letter-spacing: -1.8px;

        @include media(S) {
            font-size: 33px;
        }

        .is-blue {
            color: #425da8;
        }

        .is-orange {
            color: #ff6700;
        }

        .is-small {
            font-size: 17px;
            letter-spacing: -2.1px;

            @include media(S) {
                font-size: 30px;
            }
        }
    }

    &__tip1 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        width: 100%;

        &-head {
            margin-top: -85px;
            margin-right: 20px;
        }

        p {
            margin-bottom: 40px;
        }

        &-arrow {
            margin-left: -145px;
            margin-bottom: -105px;
            margin-right: 11%;
        }
    }

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__tip2 {
        padding-right: 16px;
        // max-width: 280px;
        // box-sizing: border-box;
        text-align: right;
        margin-bottom: 124px;
        margin-left: -60px;
        display: none;

        @include media(L) {
            display: block;
        }

        &-head {
            margin-right: 60%;
            margin-bottom: 8px;
        }

        p {
            white-space: nowrap;
        }

        &-arrow {
            margin-top: 10px;
            margin-bottom: 6px;
            transform: translate3d(90px,0,0);
        }
    }

    .form {
        // margin-right: 18px;
        // margin-left: 18px;
        // min-width: 670px;
        // margin-bottom: 50px;
    }

    &__tip3 {
        padding-left: 16px;
        // max-width: 280px;
        // box-sizing: border-box;
        margin-right: -60px;
        margin-bottom: 70px;
        display: none;

        @include media(L) {
            display: block;
        }

        &-head {
            margin-left: 8%;
            margin-bottom: 8px;
        }

        p {
            white-space: nowrap;
        }

        &-arrow {
            margin-top: 4px;
            transform: translate3d(-90px,0,0);
        }
    }

    &__pointer {
        margin-top: -60px;
        margin-right: 250px;
        margin-bottom: -20px;
        display: none;

        @include media(L) {
            display: block;
        }
    }

    &__tip4 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        margin-top: 20px;
        margin-left: 32%;
        z-index: 100;

        &-arrow {
            margin-right: 15px;
            margin-bottom: -120px;
        }

        p {
            margin-bottom: 0;
        }

        &-client {
            margin-top: -100px;
            margin-bottom: -100px;
        }
    }

    &__bgmails {
        // width: 100%;
        // max-width: 1165px;
            position: relative;
            top: 2px;
            left: 50%;
            width: 100%;
            max-width: 1165px;
            transform: translate3d(-50%,0,0);
    }

    &__tip5 {
        background-color: #fff;
        text-align: center;
        padding: 0 10px 38px;
        box-shadow: 1px 2px 0 #dbdcdd;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 50px;

        &-mail {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    &__tip6 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 100;
        width: 100%;
        margin-left: 8%;

        &-head {
            margin-top: -20px;
            margin-right: 20px;
        }

        p {
            margin-bottom: 0;
        }

        &-arrow {
            margin-bottom: -113px;
            margin-left: 10px;
        }
    }

    &__tip7 {
        display: flex;
        align-items: flex-end;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        text-align: center;

        &-client {
            margin-right: -11px;
            margin-bottom: 0;
            position: relative;
            z-index: 90;
            display: none;

            @include media(L) {
                display: block;
            }
        }

        .code {
            margin: 0 0 52px;
            position: relative;
            z-index: 80;
        }

        &-tablet {
            margin-left: 24px;
            margin-bottom: 96px;
            display: none;

            @include media(L) {
                display: block;
            }
        }
    }

    &__nextday {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    &__newsman {
        display: block;
        margin: 0 auto;
    }
}
