.landing-newsman {
    background-color: #fff;
    padding: 0 80px 80px;
    margin: 60px 0;
    box-shadow: 1px 2px 0px #d9dbdc;

    h1,
    h2 {
        color: #ff6700;
        font-size: 55px;
        font-weight: 300;
    }

    h1 {
        text-align: center;
    }

    p {
        margin: 20px 0;
        margin-left: 300px;
        font-size: 19px;
        color: #50545a;

    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
    }

    &__btn {
        background: #425da8;
        color: #96b7ff;
        border-radius: 5px;
        font-size: 26px;
        padding: 13px 34px;
        text-transform: uppercase;
        // box-shadow: 4px 3px 0 #2f468f;
        border: 0 solid #2f468f;
        border-right-width: 4px;
        border-bottom-width: 3px;
    }
}
