.footer {
    background: #fff;
    margin: 0 rem(-10);
    padding: 2rem rem(10);
    box-sizing: border-box;
    box-shadow: rem(1) rem(1) 0 #d9dbdc;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    @include media(M) {
        align-items: flex-end;
        padding-left: rem(25);
        padding-right: rem(15);
        margin: 0;
        height: 16rem;
    }

    &__nav-wrap {
        width: 100%;
        align-items: center;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        @include media(M) {
            flex-direction: row;
        }
    }

    &__logo {
        width: 16rem;
        padding: .5rem 1rem 1.5rem;
        box-sizing: border-box;

        @include media(M) {
            width: 20rem;
        }
    }

    .menu {
        display: inline-block;
    }
}
