<div class="howtojoin">

    <h2 class="howtojoin__title">How to join</h2>

    <ul class="howtojoin__tips">
        <li>
            <img src="{{ site.baseurl }}/assets/img/content/newsman-head.png" alt="...">
            <p>это submit form</p>
            <img src="{{ site.baseurl }}/assets/img/content/how-arrow-1.png" alt="...">
            {% include Form/index.html %}
            <img src="{{ site.baseurl }}/assets/img/content/how-pointer.png" alt="...">
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/img/content/newsman-head.png" alt="...">
            <p>Подсказка: Подготовить RSS ленту, с содержанием, которое вы хотите использовать в письмах, как минимум это:</p>
            <img src="{{ site.baseurl }}/assets/img/content/how-arrow-2.png" alt="...">
            <p>заголовок, картинка, краткое описание новости, id статьи или уникальный url;</p>
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/img/content/newsman-head.png" alt="...">
            <p>Подсказка: Добавьте на сайте страницу с адресом: domain.com/someuniqid.html или добавьте поддомен n.domain.com с записью: 68.152.13.111</p>
            <img src="{{ site.baseurl }}/assets/img/content/how-arrow-3.png" alt="...">
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/img/content/how-arrow-4.png" alt="...">
            <p>Что будет дальше?</p>
            <img src="{{ site.baseurl }}/assets/img/content/how-client-1.png" alt="...">
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/img/background/bg-mails.png" alt="...">
            <img src="{{ site.baseurl }}/assets/img/content/how-mail.png" alt="...">
            <p>Мы отправим доступ в учетную запись Mailfire - https://admin.mailfire.io/</p>
        </li>
        <li>
            <img src="{{ site.baseurl }}/assets/img/content/newsman-head.png" alt="...">
            <p>Вы размещаете в футере сайта код:</p>
            <img src="{{ site.baseurl }}/assets/img/content/how-arrow-5.png" alt="...">
            {% include Code/index.html %}
        </li>
        <li>
            <p>и уже на следующий день начинаем рассылку новостей!</p>
            <img src="{{ site.baseurl }}/assets/img/content/newsman-mails.png" alt="...">
        </li>
    </ul>

</div>
