<div class="howtojoin">

    <h2 class="howtojoin__title">How To Join</h2>

    <div class="howtojoin__tips">
        <ul>
            <li>

                <div class="howtojoin__tip1">
                    <img class="howtojoin__tip1-head" src="{{ site.baseurl }}/assets/img/content/newsman-head.png" alt="...">
                    <p>это <span class="is-blue">submit form</span></p>
                    <img class="howtojoin__tip1-arrow" src="{{ site.baseurl }}/assets/img/content/how-arrow-1.png" alt="...">
                </div>

                <div class="howtojoin__tip2">
                    <img class="howtojoin__tip2-head" src="{{ site.baseurl }}/assets/img/content/newsman-head.png" alt="...">
                    <p><span class="is-orange">Подсказка:</span> Подготовить RSS ленту, с содержанием, которое вы хотите использовать в письмах, как минимум это:</p>
                    <img class="howtojoin__tip2-arrow" src="{{ site.baseurl }}/assets/img/content/how-arrow-2.png" alt="...">
                    <p><span class="is-blue">заголовок, картинка, краткое описание новости, id статьи или уникальный url;</span></p>
                </div>

                {% include Form/index.html %}

                <img class="howtojoin__pointer" src="{{ site.baseurl }}/assets/img/content/how-pointer.png" alt="...">

                <div class="howtojoin__tip3">
                    <img class="howtojoin__tip3-head" src="{{ site.baseurl }}/assets/img/content/newsman-head.png" alt="...">
                    <p><span class="is-orange">Подсказка:</span> Добавьте на сайте страницу с адресом: <span class="is-blue">domain.com/someuniqid.html</span> или добавьте поддомен n.domain.com с записью: <span class="is-blue">68.152.13.111</span></p>
                    <img class="howtojoin__tip3-arrow" src="{{ site.baseurl }}/assets/img/content/how-arrow-3.png" alt="...">
                </div>

            </li>

            <li>

                <div class="howtojoin__tip4">
                    <img src="{{ site.baseurl }}/assets/img/content/how-arrow-4.png" alt="...">
                    <p>Что будет дальше?</p>
                    <img src="{{ site.baseurl }}/assets/img/content/how-client-1.png" alt="...">
                </div>

                <div class="howtojoin__tip5">
                    <img src="{{ site.baseurl }}/assets/img/background/bg-mails.png" alt="...">
                    <img src="{{ site.baseurl }}/assets/img/content/how-mail.png" alt="...">
                    <p>Мы отправим доступ в учетную запись <span class="is-blue">Mailfire - https://admin.mailfire.io/</span></p>
                </div>

            </li>

            <li>

                <div class="howtojoin__tip6">
                    <img class="howtojoin__tip6-head" src="{{ site.baseurl }}/assets/img/content/newsman-head.png" alt="...">
                    <p>Вы размещаете<br>в футере сайта код:</p>
                    <img class="howtojoin__tip6-arrow" src="{{ site.baseurl }}/assets/img/content/how-arrow-5.png" alt="...">
                </div>

                <div class="howtojoin__tip61">
                    <img class="howtojoin__tip61-client" src="{{ site.baseurl }}/assets/img/content/how-client-2.png" alt="...">
                    {% include Code/index.html %}
                    <img class="howtojoin__tip61-tablet" src="{{ site.baseurl }}/assets/img/content/how-tablet.png" alt="...">
                </div>

            </li>

        </ul>

        <div class="howtojoin__tip7">
            <p><span class="is-orange">и уже на следующий день начинаем рассылку новостей!</span></p>
            <img src="{{ site.baseurl }}/assets/img/content/newsman-mails.png" alt="...">
        </div>

    </div>

</div>
