.howtojoin {
    margin-bottom: 100px;

    &__title {
        @include title;
        @include title--dotted;
    }

    &__tips {

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {

                p {
                    font-size: 33px;
                    // font-family: 'kupparegular', sans-serif;
                    // font-family: 'kuppa_basicregular', sans-serif;
                }
            }
        }

        &-tip1 {
            background: rgba(#ff6700,.1);
            padding: 30px;
        }

        &-tip2 {
            background: rgba(#ff6700,.2);
            padding: 30px;
        }

        &-tip3 {
            background: rgba(#ff6700,.3);
            padding: 30px;
        }

        &-tip4 {
            background: rgba(#ff6700,.4);
            padding: 30px;
        }

        &-tip5 {
            background: rgba(#ff6700,.5);
            padding: 30px;
        }

        &-tip6 {
            background: rgba(#ff6700,.6);
            padding: 30px;
        }

        &-tip7 {
            text-align: center;

            p {
                color: #ff6700;
                margin-bottom: 20px;
            }

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}
