// Body (Corioaln UI)
$bodyBg: #f8f8f8 url(../img/backgrounds/bg-default.png) 50% 0;
$bodyFont: 400 1rem/1.2 'LatoLight', sans-serif;
$bodyColor: #50545a;

// Breakpoints (Corioaln UI)
$XS: 320px;
$S: 508px;
$M: 754px;
$L: 1054px;
$XL: 1300px;
