html {
    height: 100vh;
}

body {
    min-width: 320px;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    @include media(M) {
        transform: scale(.75);
        transform-origin: 50% 0;
    }

    &.is-open {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
    margin: 0;
}

img {
    max-width: 100%;
}

.main-container {
    width: 100%;
    max-width: 1306px;
    flex: 1 0 auto;
    align-self: center;
    background: #f2f2f2;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 10px;

    @include media(M) {
        padding: 0;
    }

    &__inner {
        width: 100%;
        max-width: 1164px;
        margin: 0 auto;
        position: relative;

        padding-top: 80px;

        @include media(M) {
            padding-top: 120px;
        }

        @include media(L) {
            padding-top: 140px;
        }

        @include media(XL) {
            padding-top: 180px;
        }
    }
}
