html {
    height: 100vh;
}

body {
    background: $bodyBg;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
    margin: 0;
}

img {
    max-width: 100%;
}

.main-container {
    width: 100%;
    max-width: 1306px;
    flex: 1 0 auto;
    align-self: center;
    background: #f2f2f2;
    box-sizing: border-box;
    overflow: hidden;

    &__inner {
        width: 100%;
        max-width: 1164px;
        margin: 0 auto;
    }
}
