html {
    font-size: 14px;

    @include media(M) {
        font-size: (14px*.75);
    }
}

body {
    background-size: 45rem;
    min-width: $XS;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    &.is-open {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
    margin: 0;
}

img {
    max-width: 100%;
}

.main-container {
    width: 100%;
    max-width: rem(1306);
    align-self: center;
    background: #f2f2f2;
    overflow: hidden;

    box-sizing: border-box;
    padding: 0 rem(10);

    @include media(M) {
        padding: 0 rem(71);
    }

    &__inner {
        width: 100%;
        margin: 0 auto;
        position: relative;

        padding-top: rem(80);

        @include media(M) {
            padding-top: 13rem;
        }
    }
}
