.header {
    position: fixed;
    z-index: 999;
    top: 0;
    margin: 0 rem(-10);
    width: 100%;

    @include media(M) {
        position: relative;
        margin: 0;
    }

    &__wrap {
        position: relative;
        background: #fff;
        box-shadow: rem(1) rem(2) 0 #dbdcdd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: rem(80);
        width: 100%;
        padding: 0 rem(15);
        box-sizing: border-box;

        @include media(M) {
            height: 13rem;
        }

        @include media(L) {
        }

        @include media(XL) {
            padding: 0 rem(25);
        }
    }

    &__logo {
        width: 12rem;
        padding: 0 1rem;
        box-sizing: border-box;

        @include media(M) {
            width: 16rem;
        }
    }

    .menu {
        display: none;

        @include media(M) {
            display: inline-block;
        }
    }

    &__mobmenu {
        color: #50545a;
        outline: none;
        display: block;
        font-size: rem(40);
        position: absolute;
        right: 0;
        top: 0;
        padding: rem(20);
        width: rem(80);
        height: rem(80);
        box-sizing: border-box;

        @include media(M) {
            display: none;
        }

        &-icon {
            @extend .icon;
            @extend .icon-menu;
            display: block;
        }
    }
}
