<div class="mobmenu">

    <div class="mobmenu__main js-mobmenu">
        <div class="mobmenu__container">

            <div class="mobmenu__header">

                {% include Header/_logo.html %}

                <a class="mobmenu__close js-mobmenu-close" href="#">
                    <span class="mobmenu__close-icon"></span>
                </a>

            </div>

            {% include Menu/index.html %}
            {% include Social/index.html %}

        </div>
    </div>

    <div class="mobmenu__overlay js-mobmenu-overlay"></div>

</div>
