.code {
    font-size: 20px;
    font-family: 'LatoLight', sans-serif;
    color: #425da8;
    background: #fff;
    max-width: 624px;
    margin: 0 auto;
    padding: 26px 28px;
    box-sizing: border-box;
    overflow-x: scroll;
}
