.statistics {
    font-size: rem(22);
    padding-top: rem(20);
    margin-bottom: rem(50);
    text-align: center;
    @include anhor;
    @include unvisible;

    &__caption {
        @include title;
        @include title--dotted;
        text-align: left;
        margin-bottom: rem(40);
    }

    &__header {
        margin-bottom: rem(60);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        &-newsman {
            width: 100%;

            @include media(M) {
                width: (100%*1/5);
            }

            img {
                max-width: 12rem;
                margin-bottom: rem(60);
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            width: 100%;

            @include media(M) {
                width: (100%*4/5);
            }

            li {
                margin-bottom: rem(60);
                width: 100%;
                @include clearfix;

                @include media(M) {
                    text-align: right;
                    width: (100%/4);
                }

                p {
                    margin-bottom: rem(30);

                    @include media(M) {
                        float: right;
                        margin-right: rem(90);
                    }

                    large {
                        font-size: rem(48);
                        display: block;
                        white-space: nowrap;

                        @include media(M) {
                            float: right;
                        }
                    }
                }

                img {
                    max-width: 12rem;

                    @include media(M) {
                        float: right;
                    }
                }
            }
        }
    }

    &__customers {
        // background: url(../img/home/statistics-customers.png) center top no-repeat;
        padding-top: rem(148);
        margin-bottom: rem(96);
        position: relative;

        img {
            position: absolute;
            left: 50%;
            top: 0;
            width: auto;
            transform: translate3d(-50%,0,0);
        }

        h4 {
            large {
                color: #ff6700;
                font-size: rem(48);
            }
        }
    }

    &__footer {

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;

            li {
                margin-bottom: rem(60);
                width: 100%;

                @include media(M) {
                    width: (100%/3);
                }

                img {
                    margin-bottom: rem(10);
                }

                p {

                    large {
                        display: block;
                        color: #ff6700;
                        font-size: rem(55);
                    }
                }

                &:first-child {
                    position: relative;

                    img {
                        position: absolute;
                        left: 50%;
                        top: 0;
                        width: auto;
                        transform: translate3d(-50%,0,0);
                        margin: 0;
                        max-width: 20rem;
                    }

                    p {
                        position: relative;
                        max-width: rem(200);
                        padding: rem(40) 0 rem(86);
                        margin: 0 auto;
                    }
                }

                &:nth-child(2) {

                    img {
                        max-width: 15rem;
                        margin-top: rem(32);
                    }
                }

                &:nth-child(3) {

                    img {
                        max-width: 16rem;
                        margin-top: rem(32);
                    }
                }
            }
        }

        small {
            color: #050000;
            font-size: rem(18);
        }
    }
}
