---
layout: default
---
<style>
    figure {background:#ccc;padding:10px;display:inline-block;}
    img {display:block;margin:0 auto 10px;max-width:100%;}
    figcaption {font-size:10px;}
    footer {}
</style>

{{ content }}

<h3>All project images:</h3>

{% for file in site.static_files %}
    {% if file.path contains 'assets/img' %}
        <a href="{{ site.baseurl }}{{ file.path }}">
            <figure>
                <img src="{{ site.baseurl }}{{ file.path }}">
                <figcaption>{{ file.path }}</figcaption>
            </figure>
        </a>
    {% endif %}
{% endfor %}
