.menu {
    font-family: Arial, sans-serif;

    &__item {
        font-size: 18px;
        text-decoration: none;
        line-height: 1;
        padding: 10px;
        display: block;
        text-align: center;
        color: #a7a9ac;
        transition: color .2s ease;

        @include media(M) {
            display: inline-block;
            padding: 4px 10px;
        }

        @include media(L) {
            padding: 6px 20px;
            font-size: 22px;
        }

        &:hover,
        &.is-selected {
            color: #ff6700;
        }

        &.is-hidden {
            display: none;
        }

        &.is-external {
        }

        &.is-interior {
        }
    }
}
