.menu {
    font-family: Arial, sans-serif;

    &__item {
        font-size: rem(18);
        text-decoration: none;
        line-height: 1;
        padding: rem(10) rem(8);
        text-align: center;
        color: #a7a9ac;
        transition: color .2s ease;
        display: block;

        @include media(M) {
            display: inline-block;
            // padding: rem(4) rem(8);
            // font-size: rem(20);
        }

        @include media(L) {
            padding: rem(10) rem(18);
            font-size: rem(22);
        }

        &:hover,
        &.is-selected {
            color: #ff6700;
        }

        &.is-hidden {
            display: none;
        }

        &.is-external {
        }

        &.is-interior {
        }
    }
}
