.menu {
    font-family: Arial, sans-serif;

    &__item {
        font-size: 18px;
        color: #a7a9ac;
        text-decoration: none;
        line-height: 1;
        padding: 10px;
        display: block;
        text-align: center;

        @include media(M) {
            display: inline-block;
            padding: 0 10px;
        }

        @include media(L) {
            display: inline-block;
            padding: 0 20px;
            font-size: 22px;
        }

        &.is-selected {
        }

        &.is-hidden {
            display: none;
        }

        &.is-external {
        }

        &.is-interior {
        }
    }
}
